{% extends "layout2Column.html" %}

{% block listcontent %}
	{%for items in listitems%}
		{% if items.has_error %}
			<ui class="list-group-item list-group-item-danger">
				<div class="row">
					<h6 class="d-flex justify-content-between">{{items.description}}</h6>
				</div>
				<div class="row">
					<p class = "col">last updated: {{items.lastupdated.strftime('%m/%d/%Y')}}</p>
					<div class = "col d-flex justify-content-between">
						<div>
							<a class="btn btn-outline-primary btn-sm" href="{{items.url}}" role="button" target="_blank" rel="noopener noreferrer">SDMX File</a>
						</div>
						<div>
							<button type="button" class="btn btn-outline-primary btn-sm" disabled>View Data</button>
						</div>
					</div>
				</div>
				<div class="row"><small>{{items.error_text}}</small></div>	
			</ui>
		{% else %}	
			<ui class="list-group-item list-group-item-light">				
				<div class="row">
					<h6 class="d-flex justify-content-between">{{items.description}}
					<span class="badge rounded-pill bg-primary">{{items.series_count}}</span></h6>
				</div>
				<div class="row">
					<p class = "col">last updated: {{items.lastupdated.strftime('%m/%d/%Y')}}</p>
					<div class = "col d-flex justify-content-between">
						<div>
							<a class="btn btn-outline-primary btn-sm" href="{{items.url}}" role="button" target="_blank" rel="noopener noreferrer">SDMX File</a>
						</div>
						<div>
							<a class="btn btn-outline-primary btn-sm" href="{{url_for('country_domain', country = items.countrycode, domain = items.categorycode)}}" role="button">View Data</a>
						</div>
					</div>
				</div>
			</ui>	
		{% endif %}	
	{% endfor %}
{% endblock listcontent %}