{% extends "layout2column.html" %}

{% block listcontent %}

{% endblock listcontent %}

{% block righthandcontent %}
 <div class="content-section">
	<h3>SDDS:</h3>
	<p class='text-muted'>
	  <ul class="list-group">
		<div class="scrollbar scrollbar-primary">
			
		</div>
	  </ul>
	</p>
  </div>
   </div>
  <div class="col">
	  <div class="content-section">
		<h3>SDDS Plus:</h3>
		<p class='text-muted'>
		  <ul class="list-group">
			<div class="scrollbar scrollbar-primary">
							</div>
		  </ul>
		</p>
	  </div>

{% endblock righthandcontent %}
