{% extends "layout3Column.html" %}

{% block lefttitle %}eGDDS:{% endblock lefttitle %}

{% block leftlistcontent %}
	{%for country in countries%}
		{% if country.countrystandard == 'eGDDS' %}
			{% if country.has_category_error%}
				<a href="{{url_for('country_pages', countrycode = country.code)}}" class="list-group-item list-group-item-danger d-flex justify-content-between align-items-center">
			{% else %}
				<a href="{{url_for('country_pages', countrycode = country.code)}}" class="list-group-item list-group-item-light d-flex justify-content-between align-items-center">
			{% endif %}
					{{country.name}}
					<span class="badge rounded-pill bg-primary">{{ country.series_count }}</span>
				</a>
		{% endif %}
	{% endfor %}
{% endblock leftlistcontent %}

{% block middletitle %}SDDS:{% endblock middletitle %}

{% block middlelistcontent %}
	{%for country in countries%}
		{% if country.countrystandard == 'SDDS' %}
			{% if country.has_category_error%}
				<a href="{{url_for('country_pages', countrycode = country.code)}}" class="list-group-item list-group-item-danger d-flex justify-content-between align-items-center">
			{% else %}
				<a href="{{url_for('country_pages', countrycode = country.code)}}" class="list-group-item list-group-item-light d-flex justify-content-between align-items-center">
			{% endif %}
					{{country.name}}
					<span class="badge rounded-pill bg-primary">{{ country.series_count }}</span>
				</a>
		{% endif %}
	{% endfor %}
{% endblock middlelistcontent %}

{% block righttitle %}SDDS Plus:{% endblock righttitle %}

{% block rightlistcontent %}
	{%for country in countries%}
		{% if country.countrystandard == 'SDDS Plus' %}
			{% if country.has_category_error%}
				<a href="{{url_for('country_pages', countrycode = country.code)}}" class="list-group-item list-group-item-danger d-flex justify-content-between align-items-center">
			{% else %}
				<a href="{{url_for('country_pages', countrycode = country.code)}}" class="list-group-item list-group-item-light d-flex justify-content-between align-items-center">
			{% endif %}
					{{country.name}}
					<span class="badge rounded-pill bg-primary">{{ country.series_count }}</span>
				</a>
		{% endif %}
	{% endfor %}
{% endblock rightlistcontent %}