{% extends "layout.html" %}

{% block bodycontent %}
<div class="col">			
    <div class="content-section">
        {% block lefttitle %}{% endblock %}
        <p class='text-muted'>
            <ul class="list-group">
                <div class="scrollbar scrollbar-primary">
                    {% block leftlistcontent %}{% endblock %}
                </div>
            </ul>
        </p>
    </div>
</div>
<div class="col">
    {% block rightcontent %}{% endblock %}
</div>
{% endblock bodycontent %}
 