{% extends "layout.html" %}

{% block bodycontent %}
<div class="col">				
    <div class="content-section">
        <h3>{% block lefttitle %}{% endblock %}</h3>
        <ul class="list-group">
            <div class="scrollbar scrollbar-primary">
                {% block leftlistcontent %}{% endblock %}
            </div>
        </ul>
    </div>
</div>
<div class="col">				
    <div class="content-section">
        <h3>{% block middletitle %}{% endblock %}</h3>
        <ul class="list-group">
            <div class="scrollbar scrollbar-primary">
                {% block middlelistcontent %}{% endblock %}
            </div>
        </ul>
    </div>
</div>
<div class="col">				
    <div class="content-section">
        <h3>{% block righttitle %}{% endblock %}</h3>
        <ul class="list-group">
            <div class="scrollbar scrollbar-primary">
                {% block rightlistcontent %}{% endblock %}
            </div>
        </ul>
    </div>
</div>
{% endblock bodycontent %}