{% extends "layout.html" %}

{% block bodycontent %}
<div class="col">				
    <div class="content-section">
        <h3>{% block lefttitle %}{% endblock %}</h3>
        <p class='text-muted'>
            <ul class="list-group">
                <div class="scrollbar scrollbar-primary">
                    {% block leftlistcontent %}{% endblock %}
                </div>
            </ul>
        </p>
    </div>
</div>
<div class="col">				
    <div class="content-section">
        <h3>{% block middletitle %}{% endblock %}</h3>
        <p class='text-muted'>
            <ul class="list-group">
                <div class="scrollbar scrollbar-primary">
                    {% block middlelistcontent %}{% endblock %}
                </div>
            </ul>
        </p>
    </div>
</div>
<div class="col">				
    <div class="content-section">
        <h3>{% block righttitle %}{% endblock %}</h3>
        <p class='text-muted'>
            <ul class="list-group">
                <div class="scrollbar scrollbar-primary">
                    {% block rightlistcontent %}{% endblock %}
                </div>
            </ul>
        </p>
    </div>
</div>
{% endblock bodycontent %}