{% extends "layout2Column.html" %}

{% block listcontent %}
	{%for country in countries%}
		{% if country.countrystandard == 'eGDDS' %}
            <a href="{{url_for('country_report', country = country.code)}}" class="list-group-item list-group-item-light d-flex justify-content-between align-items-center">
                {{country.name}} Report
			</a>
		{% endif %}
	{% endfor %}
{% endblock listcontent %}

{% block righthandcontent %}
 <div class="content-section">
	<h3>SDDS:</h3>
	<p class='text-muted'>
	  <ul class="list-group">
		<div class="scrollbar scrollbar-primary">
			{%for country in countries%}
				{% if country.countrystandard == 'SDDS' %}
                    <a href="{{url_for('country_report', country = country.code)}}" class="list-group-item list-group-item-light d-flex justify-content-between align-items-center">
                        {{country.name}} Report
                    </a>
                {% endif %}
			{% endfor %}
		</div>
	  </ul>
	</p>
  </div>
   </div>
  <div class="col">
	  <div class="content-section">
		<h3>SDDS Plus:</h3>
		<p class='text-muted'>
		  <ul class="list-group">
			<div class="scrollbar scrollbar-primary">
				{%for country in countries%}
					{% if country.countrystandard == 'SDDS Plus' %}
                        <a href="{{url_for('country_report', country = country.code)}}" class="list-group-item list-group-item-light d-flex justify-content-between align-items-center">
                            {{country.name}} Report
                        </a>
					{% endif %}
				{% endfor %}
			</div>
		  </ul>
		</p>
	  </div>

{% endblock righthandcontent %}
