{% extends "layout3Column.html" %}

{% block lefttitle %}eGDDS:{% endblock lefttitle %}

{% block leftlistcontent %}
	{%for country in countries%}
		{% if country.countrystandard == 'eGDDS' %}
            <a href="{{url_for('country_report', country = country.code)}}" class="list-group-item list-group-item-light">{{country.name}} Report</a>
		{% endif %}
	{% endfor %}
{% endblock leftlistcontent %}

{% block middletitle %}SDDS:{% endblock middletitle %}

{% block middlelistcontent %}
	{%for country in countries%}
		{% if country.countrystandard == 'SDDS' %}
            <a href="{{url_for('country_report', country = country.code)}}" class="list-group-item list-group-item-light">{{country.name}} Report</a>
		{% endif %}
	{% endfor %}
{% endblock middlelistcontent %}

{% block righttitle %}SDDS Plus:{% endblock righttitle %}

{% block rightlistcontent %}
	{%for country in countries%}
		{% if country.countrystandard == 'SDDS Plus' %}
            <a href="{{url_for('country_report', country = country.code)}}" class="list-group-item list-group-item-light">{{country.name}} Report</a>
		{% endif %}
	{% endfor %}
{% endblock rightlistcontent %}
